    body{
      background-color:black;
      z-index: -100;
      height:1600px;
    }
    p{
      margin-top: 0;
      margin-bottom: 0;
    }
    .header{
      position: fixed;
      top:0px;
      left:0px;
      right:0px;
      height:80px;
      background-color:#161616;
      z-index: 100;
    }
    .left-section{
      height:50px;
      width:300px;
      display: flex;
      justify-content: center;
    }
    .my-profile-text{
      font-family: "poppins",sans-serif;
      font-size: 50px;
      color: aqua;
      font-weight: 700;
      border-bottom: 3px solid transparent;
      transition: 0.5s ease;
      text-decoration: none;
    }
    .my-profile-text:hover{
      transform: scale(1.1);
    }
    .right-section{
      height:50px;
      width:600px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      right:0px;
      top:15px;
      margin-right: 20px;
    }
    .all-links{
      text-decoration: none;
      font-family: poppins;
      color:white;
      font-weight: 600;
      border-bottom: 3px solid transparent;
      transition: border-bottom 0.3s,transform 0.3s;
    }
    .right-section a:hover{
      border-bottom: 3px solid aqua;
      border-bottom-left-radius:1.4px;
      border-bottom-right-radius:1.4px;
      transform: scale(1.1);
      color:aqua;
    }
    .skills-bar{
      text-decoration: none;
      transform: scale(1.1);
      color:aqua;
      font-family: poppins;
      font-weight:600;
      border-bottom: 3px solid aqua;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    .main-body{
      margin-top: 100px;
    }
    .main-heading p{
      color:aqua;
      font-size:35px;
      font-family: poppins;
      font-weight: 700;
      margin-left: 15px;
      width:200px;
      transition: transform 0.5s;
    }
    .main-heading-text:hover{
       transform:scale(1.1)
    }
    .web-design-container{
      background-color: #161616;
      height:700px;
      width:100%;
      margin-top:25px;
      box-shadow:0 0 25px aqua;
      display: flex;
      flex-direction: column;
    }
    .web-design-heading p{
      color:rgb(3, 185, 185);
      font-size:35px;
      font-family: poppins;
      font-weight: 700;
      margin-left: 15px;
      padding:2px 4px 2px 4px;
      transition: background-color 0.5s , border-radius 0.3s , box-shadow 0.5s , transform 0.5s;    
    }
    .web-design-heading p:hover{
      color:black;
      background-color:rgb(3, 185, 185);
      border-radius: 10px;
      box-shadow:0 0 25px aqua ;
      transform: scale(1.1);
    }
    .web-design-heading{
      width:100%;
      height:50px;
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
    .web-design-container img{
      height:250px;
      width:340px;
      border-radius: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .skills-container{
      margin-top: 30px;
      margin-left: 10px;
      margin-bottom: 10px;
      height:700px;
      width:1230px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .skills-container div{
      height:500px;
      width:400px;
      margin-right: 20px;
      border-radius: 20px;
      margin-left: 10px;
      transition: box-shadow 0.5s;
    }
    .skills-container div:hover{
      box-shadow: 0 0 25px aqua;
    }
    .html-container,.css-container,.javascript-container{
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      align-items: center;
    }
    .html-container p,
    .css-container p,.javascript-container p{
      margin-left: 20px;
      color:white;
      font-family: poppins;
    }

    